.card {
  width: 18rem !important;
  height: 10rem !important;
  color: #FFCB7B;
  border: none;
  transform: scale(1.25);
}

.hsk-card {
  background-color: #560B0B;
}

.container {
  position: relative !important;
}
