<div class="container text-center d-flex flex-column justify-content-center" style="height: 80vh;">

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xxl-3 g-5">
    <% @levels.each do |level| %>
      <div class="col mb-5 d-flex justify-content-center">
        <%= link_to level_path(level), class: "text-decoration-none d-block h-100" do %>
          <div class="card d-flex justify-content-center text-light">
            <h2><%= level.level.upcase %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
