<div class="container text-center d-flex flex-column justify-content-center" style="height: 100vh;">
  <div class="row d-flex justify-content-evenly">
    <div class="col-4 d-flex justify-content-center">
      <div class="card d-flex justify-content-center text-light">
        <h2>HSK1</h2>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <div class="card d-flex justify-content-center text-light">
        <h2>HSK2</h2>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <div class="card d-flex justify-content-center text-light">
        <h2>HSK3</h2>
      </div>
    </div>
  </div>
  <div class="row mt-5 d-flex justify-content-evenly">
    <div class="col-6 d-flex justify-content-center">
      <div class="card d-flex justify-content-center text-light">
        <h2>HSK4</h2>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="card d-flex justify-content-center text-light">
        <h2>HSK5</h2>
      </div>
    </div>
  </div>
</div>
