<div class="container d-flex flex-column justify-content-center align-items-center" data-controller="reveal-card" style="height: 75vh;">

  <%= render 'new_card', card: @card %>


  <div class="mt-5 invisible" data-reveal-card-target="nextButton">
    <button class="btn btn-outline-secondary" data-action="click->reveal-card#loadNewCard">
      <i class="fa-solid fa-arrow-right"></i>
      Next Card
    </button>
  </div>
</div>
