@import "bootstrap";
@import "pages/home";
@import "pages/show";


.navbar-brand {
  color: #023e8a !important;
  display: flex;
  align-items: center;
  gap: 0;
}

.custom-icon {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.nav-link {
  color: #023e8a !important;
}
