<nav class="navbar bg-body-tertiary bg-light">
  <div class="container">
    <div class="container-fluid d-flex flex-row justify-content-between">
      <a class="navbar-brand fw-semibold fs-3" href="<%= root_path %>">
        <img src="<%= asset_path('ziflash.png') %>" alt="Language" class="custom-icon d-inline-block align-text-center mx-2">
      </a>
      <ul class="navbar-nav d-flex flex-row ms-auto">
        <li class="nav-item mx-3 d-flex align-items-center">
          <a class="nav-link fw-medium" href="<%= root_path %>">Cards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
